h1 {
	font-family: tahoma, "times new roman";
	text-align: center;
font-size: 25px;
font-style: italic;
border-radius: 3px;
border-color: blue;
-webkit-box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
margin: 30px;
flex-wrap: wrap;
}

nav {
    display: inline-block;
    border: blue 1px solid;
    text-align: center;
    font-size: 18px;
    background-color: cadetblue;
    color: blue;
    padding: 10px;
    -webkit-box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
margin: 30px;
}
body{
    background-image: url(Mainback.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.content {
    background: white;
    width: 50%;
    align-content: center;
    padding: 20px;
    flex-wrap: wrap;
    align-content: center ;
    margin: 0px auto;
    font-family: tahoma;
    -webkit-box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);
box-shadow: 7px 26px 28px 14px rgba(0,0,0,0.75);

}
p {
    font-size: 20px;
    color: black;

}
.loginbox {
    width: 15%;
    height: 30%;
    background-color: #000;
    color: #fff;
    top: 60%;
    left: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    align-content: center;
}
nav a {
    color: blue;
}
a{
    color: white;
}